.fuente-contacto {
	color: map-get($colores,blanco);
	font-family: $fuente-texto;
	font-size: $tamanio-fuente;
}
.fuente-h {
	@extend .fuente-contacto;
	color: map-get($colores,negro);
	font-weight: bold;
}
.bg-contacto {
	color: map-get($colores, blanco);
	background-image: url(../multimedia/imagenes/background_contacto.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.btn-enviar {
    height: 50px;
	width: 150px;
	color: map-get($colores, lila-oscuro);
	background-color: map-get($colores, blanco);
	border: solid 4px map-get($colores,lila-claro);
	border-radius: 7px;
	&:hover {
		color: map-get($colores, blanco);
		background-color: map-get($colores,lila-oscuro);
	}
}
textarea {
	border-radius: 20px;
	text-align: center;
	padding: 3%;
}