header {
	@include altura(fit-content,10vh);
	nav {
		@include altura(fit-content,10vh);
		img {
			height: 60px;
			width: 60px;
		}
		div {
			padding-right: 20px;
			ul {
				li {
					font-family: Arial;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background-color: map-get($colores,fucsia);
						border-bottom-style: solid;
						border-bottom-width: 5px;
						border-bottom-color: map-get($colores,violeta);
					}
				}
			}
		}
	}
}

