/* ESTILOS INDEX */
.mitad-main{
    @include altura (50%,40vh);
}
.img-principal{
    height: 100%;
    max-height: 40vh;
    width: 100%;
}

.img-carousel{
    height: 100%;
    width: 100%;
    max-height: 40vh;
}

