/* ESTILOS INDEX */
.mitad-main{
    height: 50%;
    min-height: 40vh;
    @include altura (50%,40vh);
}

.img-principal{
    height: 100%;
    max-height: 40vh;
    width: 100%;
}

.img-carousel{
    height: 100%;
    max-height: 40vh;
    width: 100%;
}