.fuente {
    height: 60px;
    font-family: $fuente-texto;
    color: map-get($colores,negro);
    font-size: 2.5rem;
    font-weight: bold;
}

.bg-h2{
    background-color: map-get($colores, rosa );
}