$fuente-texto: 'Libre Bodoni', serif;
$tamanio-fuente: 16px;

$colores: (
    blanco: aliceblue,
    negro: black,
    violeta: blueviolet,
    rosa: rgb(226, 43, 195),
    lila-oscuro: #a177bd,
    lila-claro: #b998cf,
    gris: #8e8e94,
);