@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap");
/*Se importa la letra a utilizar*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-family: "Libre Bodoni", serif;
  font-size: 16px; }

body {
  min-height: 100vh;
  background: linear-gradient(64deg, #b998cf 0%, #6161cf 80%); }

.main {
  height: fit-content;
  min-height: 80vh; }

.altura-main {
  height: fit-content;
  min-height: 80vh; }

.fuente-texto {
  font-family: "Libre Bodoni", serif;
  font-size: 16px;
  color: aliceblue; }

footer {
  height: fit-content;
  min-height: 10vh; }

.altura-footer {
  height: fit-content;
  min-height: 10vh; }

.fuente-desarrollador {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem; }

div input {
  font-size: 16px; }

.email:focus {
  font-size: 1.3rem; }

.redes-sociales-img {
  height: 30px;
  width: 30px; }

header {
  height: fit-content;
  min-height: 10vh; }
  header nav {
    height: fit-content;
    min-height: 10vh; }
    header nav img {
      height: 50px;
      width: 50px; }
    header nav div ul li {
      font-family: Arial;
      text-decoration: none;
      text-transform: uppercase; }
      header nav div ul li:hover {
        background-color: #e22bc3;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        border-bottom-color: blueviolet; }

/* ESTILOS INDEX */
.mitad-main {
  height: 50%;
  min-height: 40vh;
  height: 50%;
  min-height: 40vh; }

.img-principal {
  height: 100%;
  max-height: 40vh;
  width: 100%; }

.img-carousel {
  height: 100%;
  max-height: 40vh;
  width: 100%; }

.fuente {
  height: 60px;
  font-family: "Libre Bodoni", serif;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  background-color: #8e8e94; }

.ofertas-img-dto {
  height: 40px;
  width: 40px; }

.fuente-contacto, .fuente-h {
  color: aliceblue;
  font-family: "Libre Bodoni", serif;
  font-size: 16px; }

.fuente-h {
  color: black;
  font-weight: bold; }

.bg-contacto {
  color: aliceblue;
  background-image: url(../multimedia/imagenes/background_contacto.jpeg);
  background-size: cover;
  background-repeat: no-repeat; }

.btn-enviar {
  height: 50px;
  width: 150px;
  color: #a177bd;
  background-color: aliceblue;
  border: solid 4px #b998cf;
  border-radius: 7px; }
  .btn-enviar:hover {
    color: aliceblue;
    background-color: #a177bd; }

textarea {
  border-radius: 20px;
  text-align: center;
  padding: 3%; }
